@import '_variables';

/*Borders*/
.b {
    @for $i from 0 through 5 {
        &-#{$i} {
            border-width: #{$i}px !important;
        }
    }

    &r {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-right-width: #{$i}px !important;
            }
        }
    }

    &t {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-top-width: #{$i}px !important;
            }
        }
    }

    &b {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-bottom-width: #{$i}px !important;
            }
        }
    }

    &l {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-left-width: #{$i}px !important;
            }
        }
    }

    @each $prop,
    $code in $colors {
        &-#{$prop} {
            border-color: $code !important;
        }
    }

    @each $prop in $border-styles {
        &-#{$prop} {
            border-style: $prop !important;
        }
    }

    &-normal {
        border-radius: 0px !important;
    }

    &-material {
        border-radius: 3px !important;
    }

    &-round {
        border-radius: 5px !important;
    }

    &-rounder {
        border-radius: 8px !important;
    }

    &-roundest {
        border-radius: 12px !important;
    }
}

@media screen and (max-width: $breakpoint-tablet) {

    /*Borders Mobile*/
    .b {
        @for $i from 0 through 5 {
            &-m-#{$i} {
                border-width: #{$i}px !important;
            }
        }

        &r {
            @for $i from 0 through 5 {
                &-m-#{$i} {
                    border-right-width: #{$i}px !important;
                }
            }
        }

        &t {
            @for $i from 0 through 5 {
                &-m-#{$i} {
                    border-top-width: #{$i}px !important;
                }
            }
        }

        &b {
            @for $i from 0 through 5 {
                &-m-#{$i} {
                    border-bottom-width: #{$i}px !important;
                }
            }
        }

        &l {
            @for $i from 0 through 5 {
                &-m-#{$i} {
                    border-left-width: #{$i}px !important;
                }
            }
        }

        @each $prop,
        $code in $colors {
            &-m-#{$prop} {
                border-color: $code !important;
            }
        }

        @each $prop in $border-styles {
            &-m-#{$prop} {
                border-style: $prop !important;
            }
        }

        &-m-normal {
            border-radius: 0px !important;
        }

        &-m-material {
            border-radius: 3px !important;
        }

        &-m-round {
            border-radius: 5px !important;
        }

        &-m-rounder {
            border-radius: 8px !important;
        }

        &-m-roundest {
            border-radius: 12px !important;
        }
    }
}