@import '_variables';
/*Borders*/
.b {
    @for $i from 0 through 5 {
        &-#{$i} {
            border: #{$i}px solid white !important;
        }
    }

    &r {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-right: #{$i}px solid white !important;
            }
        }
    }

    &t {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-top: #{$i}px solid white !important;
            }
        }
    }

    &b {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-bottom: #{$i}px solid white !important;
            }
        }
    }

    &l {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-left: #{$i}px solid white !important;
            }
        }
    }

    @each $prop,
    $code in $colors {
        &-#{$prop} {
            border-color: $code !important;
        }
    }
}