@import 'variables';
/*Display*/
.d {
    @each $prop in $display {
        &-#{$prop} {
            display: $prop !important;
        }
    }
}

.hide, .hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.flex {
    

    @each $prop in $direction {
        &-#{$prop} {
            flex-direction: $prop !important;
        }
    }
}

.justify-content {
    @each $prop in $alignment-content {
        &-#{$prop} {
            justify-content: $prop !important;
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    /*Display Tablet*/
    .d {
        @each $prop in $display {
            &-t-#{$prop} {
                display: $prop !important;
            }
        }
    }

    .flex {
        @each $prop in $direction {
            &-t-#{$prop} {
                flex-direction: $prop !important;
            }
        }
    }

    .justify-content {
        @each $prop in $alignment-content {
            &-t-#{$prop} {
                justify-content: $prop !important;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    /*Display Mobile*/
    .d {
        @each $prop in $display {
            &-m-#{$prop} {
                display: $prop !important;
            }
        }
    }

    .flex {
        @each $prop in $direction {
            &-m-#{$prop} {
                flex-direction: $prop !important;
            }
        }
    }

    .justify-content {
        @each $prop in $alignment-content {
            &-m-#{$prop} {
                justify-content: $prop !important;
            }
        }
    }
}