@import 'variables';
/*Padding*/
.p {
    &-auto {
        padding: auto !important;
    }

    @for $i from 0 through 25 {
        &-#{$i} {
            padding: #{$i/4}rem !important;
        }
    }

    &t {
        &-auto {
            padding-top: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-top: #{$i/4}rem !important;
            }
        }
    }

    &b {
        &-auto {
            padding-bottom: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-bottom: #{$i/4}rem !important;
            }
        }
    }

    &r {
        &-auto {
            padding-right: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-right: #{$i/4}rem !important;
            }
        }
    }

    &l {
        &-auto {
            padding-left: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-left: #{$i/4}rem !important;
            }
        }
    }

    &x {
        &-auto {
            padding-right: auto !important;
            padding-left: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-right: #{$i/4}rem !important;
                padding-left: #{$i/4}rem !important;
            }
        }
    }

    &y {
        &-auto {
            padding-top: auto !important;
            padding-bottom: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-top: #{$i/4}rem !important;
                padding-bottom: #{$i/4}rem !important;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    /*Padding Mobile*/
    .p {
        &-m-auto {
            padding: auto !important;
        }

        @for $i from 0 through 25 {
            &-m-#{$i} {
                padding: #{$i/4}rem !important;
            }
        }

        &t {
            &-m-auto {
                padding-top: auto !important;
            }

            @for $i from 0 through 25 {
                &-m-#{$i} {
                    padding-top: #{$i/4}rem !important;
                }
            }
        }

        &b {
            &-m-auto {
                padding-bottom: auto !important;
            }

            @for $i from 0 through 25 {
                &-m-#{$i} {
                    padding-bottom: #{$i/4}rem !important;
                }
            }
        }

        &r {
            &-m-auto {
                padding-right: auto !important;
            }

            @for $i from 0 through 25 {
                &-m-#{$i} {
                    padding-right: #{$i/4}rem !important;
                }
            }
        }

        &l {
            &-m-auto {
                padding-left: auto !important;
            }

            @for $i from 0 through 25 {
                &-m-#{$i} {
                    padding-left: #{$i/4}rem !important;
                }
            }
        }

        &x {
            &-m-auto {
                padding-right: auto !important;
                padding-left: auto !important;
            }
    
            @for $i from 0 through 25 {
                &-m-#{$i} {
                    padding-right: #{$i/4}rem !important;
                    padding-left: #{$i/4}rem !important;
                }
            }
        }
    
        &y {
            &-m-auto {
                padding-top: auto !important;
                padding-bottom: auto !important;
            }
    
            @for $i from 0 through 25 {
                &-m-#{$i} {
                    padding-top: #{$i/4}rem !important;
                    padding-bottom: #{$i}rem !important;
                }
            }
        }
    }

}