@import 'colors';

$alignment: 
    center,
    justify,
    right,
    left,
    start,
    end,
    unset;

$alignment-content:
    center,
    justify,
    right,
    left,
    start,
    end,
    space-around,
    space-between,
    space-evenly,
    unset;

$border-styles: dotted, dashed, solid, double, groove, ridge, inset, outset;

$breakpoint-mobile: 576px;

$breakpoint-tablet: 1000px;

$colors: (light:#dee2e6,
    grey:#6c757d,
    red:red,
    dark-red:#dc3545,
    green:#27e178,
    blue:#279EDA,
    yellow:#ffc107,
    fade-blue: #34435E,
    transparent: transparent);

$direction: row, column;

$display: flex, inline, inline-grid, table, list-item, block, grid, none;

$placement: top, bottom;

$position: absolute, fixed, inherit, initial, relative, revert, static, sticky, unset;

$vertical: 
    top,
    bottom,
    middle,
    baseline,
    text-top,
    text-bottom;