@import '../variables';

/*Buttons*/
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    @each $prop,
    $code in $all-colors {
        &-#{$prop} {
            background-color: $code !important;
        }
    }

    &-outline {
        @each $prop,
        $code in $colors {
            &-#{$prop} {
                background-color: transparent !important;
                color: $code !important;
                border-color: $code !important;
            }
        }
    }

    &-large, &-lg {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }

    &-small, &-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    &-smallest, &-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    &-disabled, .disabled {
        cursor: not-allowed;
        opacity: .65;
        box-shadow: none;
    }
}