@use 'partials/alert';
@use 'partials/badge';
@use 'partials/card';
@use 'partials/display';
@use 'partials/margin';
@use 'partials/padding';
@use 'partials/block';
@use 'partials/border';
@use 'partials/form';
@use 'partials/outline';
@use 'partials/sizing';
@use 'partials/text';
@use 'partials/table';
@use 'partials/components';