@import 'variables';

/*Block Styles*/
.fixed {
    @each $prop in $placementY {
        &-#{$prop} {
            position: fixed !important;
            #{$prop}: 0 !important;
            right: 0 !important;
            left: 0 !important;
            z-index: 1030 !important;
        }

    }
}

.bg {

    @each $prop,
    $code in $colors {
        &-#{$prop} {
            background-color: $code !important;
        }
    }

    @each $prop in $all-colors {
        &-#{$prop} {
            background-color: $prop !important;
        }

    }

    &-fixed {
        background-attachment: fixed !important;
    }

    &-scroll {
        background-attachment: scroll !important;
    }
}

.opacity {
    @for $i from 0 through 10 {
        &-#{$i} {
            opacity: $i * 10% !important;
        }
    }
}

@each $breakpoint,
$minWidth, $maxWidth in $breakpoints {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {

        /*Block Styles*/
        .fixed {
            &-#{$breakpoint} {
                @each $prop in $placementY {
                    &-#{$prop} {
                        position: fixed !important;
                        #{$prop}: 0 !important;
                        right: 0 !important;
                        left: 0 !important;
                        z-index: 1030 !important;
                    }

                }
            }
        }

        .bg {
            &-#{$breakpoint} {

                @each $prop,
                $code in $colors {
                    &-#{$prop} {
                        background-color: $code !important;
                    }
                }

                @each $prop in $all-colors {
                    &-#{$prop} {
                        background-color: $prop !important;
                    }

                }

                &-fixed {
                    background-attachment: fixed !important;
                }

                &-scroll {
                    background-attachment: scroll !important;
                }
            }
        }

        .opacity {
            &-#{$breakpoint} {
                @for $i from 0 through 10 {
                    &-#{$i} {
                        opacity: $i * 10% !important;
                    }
                }
            }
        }
    }
}