@import '_variables';

/*Borders*/
.b {
    @for $i from 0 through 5 {
        &-#{$i} {
            border: #{$i}px solid white !important;
        }
    }

    &r {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-right: #{$i}px solid white !important;
            }
        }
    }

    &t {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-top: #{$i}px solid white !important;
            }
        }
    }

    &b {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-bottom: #{$i}px solid white !important;
            }
        }
    }

    &l {
        @for $i from 0 through 5 {
            &-#{$i} {
                border-left: #{$i}px solid white !important;
            }
        }
    }

    @each $prop in $all-colors {
        &-#{$prop} {
            border-color: $prop !important;
        }
    }

    @each $prop in $border-styles {
        &-#{$prop} {
            border-style: $prop !important;
        }
    }

    &-normal {
        border-radius: 0px !important;
    }

    &-material {
        border-radius: 3px !important;
    }

    &-round {
        border-radius: 5px !important;
    }

    &-rounder {
        border-radius: 8px !important;
    }

    &-roundest {
        border-radius: 12px !important;
    }
}

@each $breakpoint,
$width in $breakpoints {
    @media screen and (max-width: $width) {

        /*Borders*/
        .b {
            @for $i from 0 through 5 {
                &-#{$breakpoint} {
                    &-#{$i} {
                        border: #{$i}px solid white !important;
                    }
                }
            }

            &r {
                &-#{$breakpoint} {
                    @for $i from 0 through 5 {
                        &-#{$i} {
                            border-right: #{$i}px solid white !important;
                        }
                    }
                }
            }

            &t {
                &-#{$breakpoint} {
                    @for $i from 0 through 5 {
                        &-#{$i} {
                            border-top: #{$i}px solid white !important;
                        }
                    }
                }
            }

            &b {
                &-#{$breakpoint} {
                    @for $i from 0 through 5 {
                        &-#{$i} {
                            border-bottom: #{$i}px solid white !important;
                        }
                    }
                }
            }

            &l {
                &-#{$breakpoint} {
                    @for $i from 0 through 5 {
                        &-#{$i} {
                            border-left: #{$i}px solid white !important;
                        }
                    }
                }
            }

            &-#{$breakpoint} {

                @each $prop in $all-colors {
                    &-#{$prop} {
                        border-color: $prop !important;
                    }
                }

                @each $prop in $border-styles {
                    &-#{$prop} {
                        border-style: $prop !important;
                    }
                }

                &-normal {
                    border-radius: 0px !important;
                }

                &-material {
                    border-radius: 3px !important;
                }

                &-round {
                    border-radius: 5px !important;
                }

                &-rounder {
                    border-radius: 8px !important;
                }

                &-roundest {
                    border-radius: 12px !important;
                }
            }
        }

    }
}