@import 'variables';

/*Display*/
.d,
.display {
    @each $style in $display {

        @at-root .#{$style},
        &-#{$style} {
            display: $style !important;
        }
    }
}

.position,
.pos {
    @each $placement in $position {
        &-#{$placement} {
            position: $placement !important;
        }
    }
}

.flex-order,
.order {
    @for $i from 0 through 10 {
        &-#{$i} {
            order: $i !important;
        }
    }
}

.zi,
.z-index {
    @for $i from 0 through 10 {
        &-#{$i} {
            z-index: $i !important;
        }
    }
}

.hide,
.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.flex,
.f {
    @each $prop in $direction {

        @at-root .#{$prop},
        &-#{$prop} {
            display: flex;
            flex-direction: $prop !important;
        }
    }

    @each $prop in $wrap {
        &-#{$prop} {
            flex-wrap: $prop !important;
        }
    }

    @at-root .fb,
    &-basis {
        @for $i from 0 through 100 {
            &-#{$i} {
                flex-basis: $i * 1% !important;
            }
        }
    }

    @at-root .fg,
    .grow,
    &-grow {
        @for $i from 0 through 10 {
            &-#{$i} {
                flex-grow: $i !important;
            }
        }
    }

    @at-root .fs,
    .shrink,
    &-shrink {
        @for $i from 0 through 10 {
            &-#{$i} {
                flex-shrink: $i !important;
            }
        }
    }
}

.justify-content,
.jc {
    @each $alignment in $alignment-content {
        &-#{$alignment} {
            justify-content: $alignment !important;
        }
    }
}

@each $placement in $placements {
    .#{$placement} {
        @for $i from 0 through 25 {
            &-#{$i} {
                #{$placement}: #{$i*4}px !important;
            }
        }
    }
}

@each $breakpoint,
$minWidth,
$maxWidth in $breakpoints {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {

        /*Display*/
        .d,
        .display {
            &-#{$breakpoint} {
                @each $style in $display {

                    @at-root .#{$style}-#{$breakpoint},
                    &-#{$style} {
                        display: $style !important;
                    }
                }
            }
        }

        .position,
        .pos {
            &-#{$breakpoint} {
                @each $placement in $position {
                    &-#{$placement} {
                        position: $placement !important;
                    }
                }
            }
        }

        .flex-order,
        .order {
            &-#{$breakpoint} {
                @for $i from 0 through 10 {
                    &-#{$i} {
                        order: $i !important;
                    }
                }
            }
        }

        .zi,
        .z-index {
            &-#{$breakpoint} {
                @for $i from 0 through 100 {
                    &-#{$i} {
                        z-index: $i !important;
                    }
                }
            }
        }

        .hide,
        .hidden {
            &-#{$breakpoint} {
                display: none !important;
            }
        }

        .show {
            &-#{$breakpoint} {
                display: block !important;
            }
        }

        .invisible {
            &-#{$breakpoint} {
                visibility: hidden !important;
            }
        }

        .visible {
            &-#{$breakpoint} {
                visibility: visible !important;
            }
        }

        .flex,
        .f {
            &-#{$breakpoint} {
                @each $prop in $direction {

                    &-#{$prop} {
                        flex-direction: $prop !important;
                    }
                }

                @each $prop in $wrap {

                    &-#{$prop} {
                        flex-wrap: $prop !important;
                    }
                }

                @at-root .fb-#{$breakpoint},
                &-basis {
                    @for $i from 0 through 100 {
                        &-#{$i} {
                            flex-basis: $i * 1% !important;
                        }
                    }
                }

                @at-root .fg-#{$breakpoint},
                .grow-#{$breakpoint},
                &-grow {
                    @for $i from 0 through 10 {
                        &-#{$i} {
                            flex-grow: $i !important;
                        }
                    }
                }

                @at-root .fs-#{$breakpoint},
                .shrink-#{$breakpoint},
                &-shrink {
                    @for $i from 0 through 10 {
                        &-#{$i} {
                            flex-shrink: $i !important;
                        }
                    }
                }
            }
        }

        .justify-content,
        .jc {
            &-#{$breakpoint} {
                @each $alignment in $alignment-content {
                    &-#{$alignment} {
                        justify-content: $alignment !important;
                    }
                }
            }
        }

        @each $placement in $placements {
            .#{$placement} {
                &-#{$breakpoint} {
                    @for $i from 0 through 25 {
                        &-#{$i} {
                            #{$placement}: #{$i*4}px !important;
                        }
                    }
                }
            }
        }
    }
}