@import 'variables';

/*Display*/
.d {
    @each $prop in $display {
        &-#{$prop} {
            display: $prop !important;
        }
    }
}

.position,
.pos {
    @each $prop in $position {
        &-#{$prop} {
            position: $prop !important;
        }
    }
}

.zi,
.z-index {
    @for $i from 0 through 100 {
        &-#{$i} {
            z-index: $i !important;
        }
    }
}

.hide,
.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.flex {
    @each $prop in $direction {
        &-#{$prop} {
            flex-direction: $prop !important;
        }
    }

    @each $prop in $wrap {
        &-#{$prop} {
            flex-wrap: $prop !important;
        }
    }
}

.justify-content,
.jc {
    @each $prop in $alignment-content {
        &-#{$prop} {
            justify-content: $prop !important;
        }
    }
}

@each $placement in $placements {
    .#{$placement} {
        @for $i from 0 through 25 {
            &-#{$i} {
                #{$placement}: #{$i*4}px !important;
            }
        }
    }
}

@each $breakpoint,
$minWidth, $maxWidth in $breakpoints {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {

        /*Display*/
        .d {
            &-#{$breakpoint} {
                @each $prop in $display {
                    &-#{$prop} {
                        display: $prop !important;
                    }
                }
            }
        }

        .position,
        .pos {
            &-#{$breakpoint} {
                @each $prop in $position {
                    &-#{$prop} {
                        position: $prop !important;
                    }
                }
            }
        }

        .zi,
        .z-index {
            &-#{$breakpoint} {
                @for $i from 0 through 100 {
                    &-#{$i} {
                        z-index: $i !important;
                    }
                }
            }
        }

        .hide,
        .hidden {
            &-#{$breakpoint} {
                display: none !important;
            }
        }

        .show {
            &-#{$breakpoint} {
                display: block !important;
            }
        }

        .invisible {
            &-#{$breakpoint} {
                visibility: hidden !important;
            }
        }

        .visible {
            &-#{$breakpoint} {
                visibility: visible !important;
            }
        }

        .flex {
            &-#{$breakpoint} {
                @each $prop in $direction {
                    &-#{$prop} {
                        flex-direction: $prop !important;
                    }
                }

                @each $prop in $wrap {
                    &-#{$prop} {
                        flex-wrap: $prop !important;
                    }
                }
            }
        }

        .justify-content,
        .jc {
            &-#{$breakpoint} {
                @each $prop in $alignment-content {
                    &-#{$prop} {
                        justify-content: $prop !important;
                    }
                }
            }
        }

        @each $placement in $placements {
            .#{$placement} {
                &-#{$breakpoint} {
                    @for $i from 0 through 25 {
                        &-#{$i} {
                            #{$placement}: #{$i*4}px !important;
                        }
                    }
                }
            }
        }
    }
}