@import 'variables';
/*Display*/
.d {
    @each $prop in $display {
        &-#{$prop} {
            display: $prop !important;
        }
    }
}

.position, .pos {
    @each $prop in $position {
        &-#{$prop} {
            position: $prop !important;
        }
    }
}

.zi, .z-index {
    @for $i from 0 through 100 {
        &-#{$i} {
            z-index: $i !important;
        }
    }
}

.hide, .hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.flex {
    @each $prop in $direction {
        &-#{$prop} {
            flex-direction: $prop !important;
        }
    }
}

.justify-content, .jc {
    @each $prop in $alignment-content {
        &-#{$prop} {
            justify-content: $prop !important;
        }
    }
}

@each $placement in $placements {
    .#{$placement} {
        @for $i from 0 through 25 {
            &-#{$i} {
                #{$placement}: #{$i*4}px !important;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    /*Display Tablet*/
    .d {
        @each $prop in $display {
            &-t-#{$prop} {
                display: $prop !important;
            }
        }
    }

    .position, .pos {
        @each $prop in $position {
            &-t-#{$prop} {
                position: $prop !important;
            }
        }
    }

    .flex {
        @each $prop in $direction {
            &-t-#{$prop} {
                flex-direction: $prop !important;
            }
        }
    }

    .justify-content, .jc {
        @each $prop in $alignment-content {
            &-t-#{$prop} {
                justify-content: $prop !important;
            }
        }
    }

    @each $placement in $placements {
        .#{$placement} {
            @for $i from 0 through 25 {
                &-t-#{$i} {
                    #{$placement}: #{$i*4}px !important;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    /*Display Mobile*/
    .d {
        @each $prop in $display {
            &-m-#{$prop} {
                display: $prop !important;
            }
        }
    }

    .position, .pos {
        @each $prop in $position {
            &-m-#{$prop} {
                position: $prop !important;
            }
        }
    }

    .flex {
        @each $prop in $direction {
            &-m-#{$prop} {
                flex-direction: $prop !important;
            }
        }
    }

    .justify-content, .jc {
        @each $prop in $alignment-content {
            &-m-#{$prop} {
                justify-content: $prop !important;
            }
        }
    }

    @each $placement in $placements {
        .#{$placement} {
            @for $i from 0 through 25 {
                &-m-#{$i} {
                    #{$placement}: #{$i*4}px !important;
                }
            }
        }
    }
}