@import 'variables';

/*Margin*/
.m {
    &-auto {
        margin: auto !important;
    }

    @for $i from 0 through 25 {
        &-#{$i} {
            margin: #{$i/4}rem !important;
        }
    }

    &t {
        &-auto {
            margin-top: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                margin-top: #{$i/4}rem !important;
            }
        }
    }

    &b {
        &-auto {
            margin-bottom: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                margin-bottom: #{$i/4}rem !important;
            }
        }
    }

    &r {
        &-auto {
            margin-right: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                margin-right: #{$i/4}rem !important;
            }
        }
    }

    &l {
        &-auto {
            margin-left: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                margin-left: #{$i/4}rem !important;
            }
        }
    }

    &x {
        &-auto {
            margin-right: auto !important;
            margin-left: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                margin-right: #{$i/4}rem !important;
                margin-left: #{$i/4}rem !important;
            }
        }
    }

    &y {
        &-auto {
            margin-top: auto !important;
            margin-bottom: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                margin-top: #{$i/4}rem !important;
                margin-bottom: #{$i/4}rem !important;
            }
        }
    }
}

@each $breakpoint,
$minWidth, $maxWidth in $breakpoints {

    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {

        /*Margin*/
        .m {
            &-#{$breakpoint} {
                &-auto {
                    margin: auto !important;
                }

                @for $i from 0 through 25 {
                    &-#{$i} {
                        margin: #{$i/4}rem !important;
                    }
                }
            }

            &t {
                &-#{$breakpoint} {
                    &-auto {
                        margin-top: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            margin-top: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &b {
                &-#{$breakpoint} {
                    &-auto {
                        margin-bottom: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            margin-bottom: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &r {
                &-#{$breakpoint} {
                    &-auto {
                        margin-right: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            margin-right: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &l {
                &-#{$breakpoint} {
                    &-auto {
                        margin-left: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            margin-left: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &x {
                &-#{$breakpoint} {
                    &-auto {
                        margin-right: auto !important;
                        margin-left: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            margin-right: #{$i/4}rem !important;
                            margin-left: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &y {
                &-#{$breakpoint} {
                    &-auto {
                        margin-top: auto !important;
                        margin-bottom: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            margin-top: #{$i/4}rem !important;
                            margin-bottom: #{$i/4}rem !important;
                        }
                    }
                }
            }
        }
    }
}