@import '_variables';

/*outlines*/
.o {
    @for $i from 0 through 5 {
        &-#{$i} {
            outline-width: #{$i}px !important;
        }
    }

    @each $prop,
    $code in $colors {
        &-#{$prop} {
            outline-color: $code !important;
        }
    }

    @each $prop in $border-styles {
        &-#{$prop} {
            outline-style: $prop !important;
        }
    }
}

@each $breakpoint,
$minWidth, $maxWidth in $breakpoints {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {

        /*outlines*/
        .o {
            &-#{$breakpoint} {
                @for $i from 0 through 5 {
                    &-#{$i} {
                        outline-width: #{$i}px !important;
                    }
                }

                @each $prop,
                $code in $colors {
                    &-#{$prop} {
                        outline-color: $code !important;
                    }
                }

                @each $prop in $border-styles {
                    &-#{$prop} {
                        outline-style: $prop !important;
                    }
                }
            }
        }
    }
}