@import 'variables';

/*Padding*/
.p {
    &-auto {
        padding: auto !important;
    }

    @for $i from 0 through 25 {
        &-#{$i} {
            padding: #{$i/4}rem !important;
        }
    }

    &t {
        &-auto {
            padding-top: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-top: #{$i/4}rem !important;
            }
        }
    }

    &b {
        &-auto {
            padding-bottom: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-bottom: #{$i/4}rem !important;
            }
        }
    }

    &r {
        &-auto {
            padding-right: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-right: #{$i/4}rem !important;
            }
        }
    }

    &l {
        &-auto {
            padding-left: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-left: #{$i/4}rem !important;
            }
        }
    }

    &x {
        &-auto {
            padding-right: auto !important;
            padding-left: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-right: #{$i/4}rem !important;
                padding-left: #{$i/4}rem !important;
            }
        }
    }

    &y {
        &-auto {
            padding-top: auto !important;
            padding-bottom: auto !important;
        }

        @for $i from 0 through 25 {
            &-#{$i} {
                padding-top: #{$i/4}rem !important;
                padding-bottom: #{$i/4}rem !important;
            }
        }
    }
}

@each $breakpoint,
$minWidth, $maxWidth in $breakpoints {

    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {

        /*Padding*/
        .p {
            &-#{$breakpoint} {
                &-auto {
                    padding: auto !important;
                }

                @for $i from 0 through 25 {
                    &-#{$i} {
                        padding: #{$i/4}rem !important;
                    }
                }
            }

            &t {
                &-#{$breakpoint} {
                    &-auto {
                        padding-top: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            padding-top: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &b {
                &-#{$breakpoint} {
                    &-auto {
                        padding-bottom: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            padding-bottom: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &r {
                &-#{$breakpoint} {
                    &-auto {
                        padding-right: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            padding-right: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &l {
                &-#{$breakpoint} {
                    &-auto {
                        padding-left: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            padding-left: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &x {
                &-#{$breakpoint} {
                    &-auto {
                        padding-right: auto !important;
                        padding-left: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            padding-right: #{$i/4}rem !important;
                            padding-left: #{$i/4}rem !important;
                        }
                    }
                }
            }

            &y {
                &-#{$breakpoint} {
                    &-auto {
                        padding-top: auto !important;
                        padding-bottom: auto !important;
                    }

                    @for $i from 0 through 25 {
                        &-#{$i} {
                            padding-top: #{$i/4}rem !important;
                            padding-bottom: #{$i/4}rem !important;
                        }
                    }
                }
            }
        }
    }
}