@import 'variables';

/*Sizing*/
/*Width*/
.w {
    &-auto {
        width: auto !important;
    }

    @for $i from 0 through 100 {
        &-#{$i} {
            width: $i * 1% !important;
        }

        &-#{$i}-vw {
            width: #{$i}vw !important;
        }
    }

    &-min {
        &-auto {
            min-width: auto !important;
        }

        @for $i from 0 through 100 {
            &-#{$i} {
                min-width: $i * 1% !important;
            }

            &-#{$i}-vw {
                min-width: #{$i}vw !important;
            }
        }
    }

    &-max {
        &-auto {
            max-width: auto !important;
        }

        @for $i from 0 through 100 {
            &-#{$i} {
                max-width: $i * 1% !important;
            }

            &-#{$i}-vw {
                max-width: #{$i}vw !important;
            }
        }
    }
}

/*Height*/
.h {
    &-auto {
        height: auto !important;
    }

    @for $i from 0 through 100 {
        &-#{$i} {
            height: $i * 1% !important;
        }

        &-#{$i}-vh {
            height: #{$i}vh !important;
        }
    }

    &-min {
        &-auto {
            min-height: auto !important;
        }

        @for $i from 0 through 100 {
            &-#{$i} {
                min-height: $i * 1% !important;
            }

            &-#{$i}-vh {
                min-height: #{$i}vh !important;
            }
        }
    }

    &-max {
        &-auto {
            max-height: auto !important;
        }

        @for $i from 0 through 100 {
            &-#{$i} {
                max-height: $i * 1% !important;
            }

            &-#{$i}-vh {
                max-height: #{$i}vh !important;
            }
        }
    }
}

@each $breakpoint,
$minWidth, $maxWidth in $breakpoints {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {

        /*Sizing*/
        /*Width*/
        .w {
            &-#{$breakpoint} {
                &-auto {
                    width: auto !important;
                }

                @for $i from 0 through 100 {
                    &-#{$i} {
                        width: $i * 1% !important;
                    }

                    &-#{$i}-vw {
                        width: #{$i}vw !important;
                    }
                }
            }

            &-min {
                &-#{$breakpoint} {
                    &-auto {
                        min-width: auto !important;
                    }

                    @for $i from 0 through 100 {
                        &-#{$i} {
                            min-width: $i * 1% !important;
                        }

                        &-#{$i}-vw {
                            min-width: #{$i}vw !important;
                        }
                    }
                }
            }

            &-max {
                &-#{$breakpoint} {
                    &-auto {
                        max-width: auto !important;
                    }

                    @for $i from 0 through 100 {
                        &-#{$i} {
                            max-width: $i * 1% !important;
                        }

                        &-#{$i}-vw {
                            max-width: #{$i}vw !important;
                        }
                    }
                }
            }
        }

        /*Height*/
        .h {
            &-#{$breakpoint} {
                &-auto {
                    height: auto !important;
                }

                @for $i from 0 through 100 {
                    &-#{$i} {
                        height: $i * 1% !important;
                    }

                    &-#{$i}-vh {
                        height: #{$i}vh !important;
                    }
                }
            }

            &-min {
                &-#{$breakpoint} {
                    &-auto {
                        min-height: auto !important;
                    }

                    @for $i from 0 through 100 {
                        &-#{$i} {
                            min-height: $i * 1% !important;
                        }

                        &-#{$i}-vh {
                            min-height: #{$i}vh !important;
                        }
                    }
                }
            }

            &-max {
                &-#{$breakpoint} {
                    &-auto {
                        max-height: auto !important;
                    }

                    @for $i from 0 through 100 {
                        &-#{$i} {
                            max-height: $i * 1% !important;
                        }

                        &-#{$i}-vh {
                            max-height: #{$i}vh !important;
                        }
                    }
                }
            }
        }

    }
}