@import 'variables';

/*Headings*/
//TODO: Calculate size in rem
//TODO: Add text shadow
.h1 {
    font-size: xxx-large !important;
}

.h2 {
    font-size: xx-large !important;
}

.h3 {
    font-size: x-large !important;
}

.h4 {
    font-size: large !important;
}

.h5 {
    font-size: medium !important;
}

.h6 {
    font-size: small !important;
}

.h7 {
    font-size: x-small !important;
}

.h8 {
    font-size: xx-small !important;
}

/*Text Styling*/

.text,
.t,
.font {

    @at-root .bold,
    &-bold {
        font-weight: bold !important;
    }

    @at-root .italic,
    &-italic {
        font-style: italic !important;
    }

    @at-root .normal,
    &-normal {
        font-weight: normal !important;
        font-style: normal !important;
    }

    @at-root .uppercase,
    &-uppercase {
        text-transform: uppercase !important;
    }

    @at-root .lowercase,
    &-lowercase {
        text-transform: lowercase !important;
    }

    @at-root .capitalize,
    &-capitalize {
        text-transform: capitalize !important;
    }

    @at-root .revert,
    &-revert {
        direction: rtl !important;
        unicode-bidi: bidi-override !important;
    }

    @at-root .underline,
    &-underline {
        text-decoration: underline !important;
    }

    @at-root .overline,
    &-overline {
        text-decoration: overline !important;
    }

    @at-root .noline,
    &-noline {
        text-decoration: none !important;
    }

    @at-root .line-through,
    .del,
    &-line-through,
    &-del {
        text-decoration: line-through !important;
    }

    @at-root .highlight,
    .mark,
    &-highlight,
    &-mark {
        padding: .2em !important;
        background-color: #fcf8e3 !important;
    }

    @at-root .quote,
    &-quote {
        font-family: 'Handlee', sans-serif !important;
        font-weight: bold !important;

        &-footer {
            display: block !important;
            font-size: 80% !important;
            color: #6c757d !important;
        }
    }

    @at-root .monospace,
    &-monospace {
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    }

    @at-root .lead,
    &-lead {
        font-size: 1.25rem !important;
        font-weight: 300 !important;
    }

    @at-root .small,
    &-small {
        font-size: 85% !important;
    }

    @each $prop in $alignment {
        &-#{$prop} {
            text-align: $prop !important;
        }
    }

    @each $prop in $vertical {
        &-#{$prop} {
            vertical-align: $prop !important;
        }
    }

    @each $prop,
    $code in $all-colors {

        &-#{$prop},
        &-#{$prop}-hover:hover {
            color: $code !important;
        }
    }

    @for $i from 1 through 50 {
        &-#{$i}-px {
            font-size: #{$i}px !important;
        }

        &-#{$i}-pt {
            font-size: #{$i}pt !important;
        }
    }

    @for $i from 1 through 10 {
        &-#{$i}-rem {
            font-size: #{$i}rem !important;
        }

        &-#{$i}-em {
            font-size: #{$i}em !important;
        }
    }
}

@each $breakpoint,
$minWidth,
$maxWidth in $breakpoints {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {

        /*Headings*/
        .h1 {
            &-#{$breakpoint} {
                font-size: xxx-large !important;
            }
        }

        .h2 {
            &-#{$breakpoint} {
                font-size: xx-large !important;
            }
        }

        .h3 {
            &-#{$breakpoint} {
                font-size: x-large !important;
            }
        }

        .h4 {
            &-#{$breakpoint} {
                font-size: large !important;
            }
        }

        .h5 {
            &-#{$breakpoint} {
                font-size: medium !important;
            }
        }

        .h6 {
            &-#{$breakpoint} {
                font-size: small !important;
            }
        }

        .h7 {
            &-#{$breakpoint} {
                font-size: x-small !important;
            }
        }

        .h8 {
            &-#{$breakpoint} {
                font-size: xx-small !important;
            }
        }

        .text,
        .t,
        .font {
            &-#{$breakpoint} {

                @at-root .bold-#{$breakpoint},
                &-bold {
                    font-weight: bold !important;
                }

                @at-root .italic-#{$breakpoint},
                &-italic {
                    font-style: italic !important;
                }

                @at-root .normal-#{$breakpoint},
                &-normal {
                    font-weight: normal !important;
                    font-style: normal !important;
                }

                @at-root .uppercase-#{$breakpoint},
                &-uppercase {
                    text-transform: uppercase !important;
                }

                @at-root .lowercase-#{$breakpoint},
                &-lowercase {
                    text-transform: lowercase !important;
                }

                @at-root .capitalize-#{$breakpoint},
                &-capitalize {
                    text-transform: capitalize !important;
                }

                @at-root .revert-#{$breakpoint},
                &-revert {
                    direction: rtl !important;
                    unicode-bidi: bidi-override !important;
                }

                @at-root .underline-#{$breakpoint},
                &-underline {
                    text-decoration: underline !important;
                }

                @at-root .overline-#{$breakpoint},
                &-overline {
                    text-decoration: overline !important;
                }

                @at-root .noline-#{$breakpoint},
                &-noline {
                    text-decoration: none !important;
                }

                @at-root .line-through-#{$breakpoint},
                .del-#{$breakpoint},
                &-line-through,
                &-del {
                    text-decoration: line-through !important;
                }

                @at-root .highlight-#{$breakpoint},
                .mark-#{$breakpoint},
                &-highlight,
                &-mark {
                    padding: .2em !important;
                    background-color: #fcf8e3 !important;
                }

                @at-root .quote-#{$breakpoint},
                &-quote {
                    font-family: 'Handlee', sans-serif !important;
                    font-weight: bold !important;

                    &-footer {
                        display: block !important;
                        font-size: 80% !important;
                        color: #6c757d !important;
                    }
                }

                @at-root .monospace-#{$breakpoint},
                &-monospace {
                    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
                }

                @at-root .lead-#{$breakpoint},
                &-lead {
                    font-size: 1.25rem !important;
                    font-weight: 300 !important;
                }

                @at-root .small-#{$breakpoint},
                &-small {
                    font-size: 85% !important;
                }

                @each $prop in $alignment {
                    &-#{$prop} {
                        text-align: $prop !important;
                    }
                }

                @each $prop in $vertical {
                    &-#{$prop} {
                        vertical-align: $prop !important;
                    }
                }

                @each $prop,
                $code in $all-colors {

                    &-#{$prop},
                    &-#{$prop}-hover:hover {
                        color: $code !important;
                    }
                }

                @for $i from 1 through 50 {
                    &-#{$i}-px {
                        font-size: #{$i}px !important;
                    }

                    &-#{$i}-pt {
                        font-size: #{$i}pt !important;
                    }
                }

                @for $i from 1 through 10 {
                    &-#{$i}-rem {
                        font-size: #{$i}rem !important;
                    }

                    &-#{$i}-em {
                        font-size: #{$i}em !important;
                    }
                }
            }
        }
    }
}