@import 'breakpoints';
@import 'colors';

$alignment: center,
justify,
right,
left,
start,
end,
unset;

$alignment-content : stretch,
center,
flex-start,
flex-end,
space-between,
space-around,
initial,
inherit;

$alignment-self: auto,
stretch,
center,
flex-start,
flex-end,
baseline,
initial,
inherit;

$alignment-items: stretch,
center,
flex-start,
flex-end,
baseline,
initial,
inherit;

$justify-content: center,
justify,
right,
left,
start,
end,
space-around,
space-between,
space-evenly,
flex-start,
flex-end,
unset;

$border-styles: dotted,
dashed,
solid,
double,
groove,
ridge,
inset,
outset;

$colors: (light:#dee2e6,
    grey:#6c757d,
    red:red,
    dark-red:#dc3545,
    green:#27e178,
    blue:#279EDA,
    yellow:#ffc107,
    fade-blue: #34435E,
    transparent: transparent);

$direction: row,
column;

$display: flex,
inline,
inline-grid,
table,
list-item,
block,
grid,
none;

$font-sizes: medium,
xx-small,
x-small,
small,
large,
x-large,
xx-large,
smaller,
larger,
initial,
inherit;

$fonts: (arial-black: ("Arial Black", sans-serif),
    arial: (Arial, sans-serif),
    bookman: (Bookman, serif),
    comic-sans: ("Comic Sans MS", cursive),
    courier-new: ("Courier New", monospace),
    courier: (Courier, monospace),
    cursive: cursive,
    fantasy: fantasy,
    garamond: (Garamond, sans-serif),
    georgia: (Georgia, serif),
    impact: (Impact, fantasy),
    monospace: monospace,
    palatino: (Palatino, serif),
    sans-serif: sans-serif,
    script: script,
    serif: serif,
    tahoma: (Tahoma, sans-serif),
    times-new-roman: ("Times New Roman", serif),
    times: (Times, serif),
    trebuchet: ("Trebuchet MS", sans-serif),
    verdana: (Verdana, sans-serif));

$overflows: auto,
hidden,
scroll,
visible;

$placements: top,
bottom,
right,
left;

$placementY: top,
bottom;

$position: absolute,
fixed,
inherit,
initial,
relative,
revert,
static,
sticky,
unset;

$scale: contain,
cover,
fill,
inherit,
initial,
none,
revert,
scale-down,
unset;

$vertical: tops,
bottom,
middle,
baseline,
text-top,
text-bottom;

$wrap: inherit,
initial,
nowrap,
revert,
unset,
wrap,
wrap-reverse;